<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ccolor.mybatis.mapper.V_postMapper" >
  <resultMap id="BaseResultMap" type="com.ccolor.mybatis.bean.V_post" >
    <id column="pid" property="pid" jdbcType="INTEGER" />
    <result column="text" property="text" jdbcType="VARCHAR" />
    <result column="parent_tag" property="parentTag" jdbcType="VARCHAR" />
    <result column="sp_id" property="spId" jdbcType="INTEGER" />
    <result column="temp1" property="temp1" jdbcType="VARCHAR" />
    <result column="temp2" property="temp2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    pid, text, parent_tag, sp_id, temp1, temp2
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ccolor.mybatis.bean.V_postExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from public.v_post
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from public.v_post
    where pid = #{pid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from public.v_post
    where pid = #{pid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ccolor.mybatis.bean.V_postExample" >
    delete from public.v_post
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ccolor.mybatis.bean.V_post" >
    insert into public.v_post (pid, text, parent_tag, 
      sp_id, temp1, temp2)
    values (#{pid,jdbcType=INTEGER}, #{text,jdbcType=VARCHAR}, #{parentTag,jdbcType=VARCHAR}, 
      #{spId,jdbcType=INTEGER}, #{temp1,jdbcType=VARCHAR}, #{temp2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ccolor.mybatis.bean.V_post" >
    insert into public.v_post
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        pid,
      </if>
      <if test="text != null" >
        text,
      </if>
      <if test="parentTag != null" >
        parent_tag,
      </if>
      <if test="spId != null" >
        sp_id,
      </if>
      <if test="temp1 != null" >
        temp1,
      </if>
      <if test="temp2 != null" >
        temp2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="text != null" >
        #{text,jdbcType=VARCHAR},
      </if>
      <if test="parentTag != null" >
        #{parentTag,jdbcType=VARCHAR},
      </if>
      <if test="spId != null" >
        #{spId,jdbcType=INTEGER},
      </if>
      <if test="temp1 != null" >
        #{temp1,jdbcType=VARCHAR},
      </if>
      <if test="temp2 != null" >
        #{temp2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ccolor.mybatis.bean.V_postExample" resultType="java.lang.Integer" >
    select count(*) from public.v_post
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update public.v_post
    <set >
      <if test="record.pid != null" >
        pid = #{record.pid,jdbcType=INTEGER},
      </if>
      <if test="record.text != null" >
        text = #{record.text,jdbcType=VARCHAR},
      </if>
      <if test="record.parentTag != null" >
        parent_tag = #{record.parentTag,jdbcType=VARCHAR},
      </if>
      <if test="record.spId != null" >
        sp_id = #{record.spId,jdbcType=INTEGER},
      </if>
      <if test="record.temp1 != null" >
        temp1 = #{record.temp1,jdbcType=VARCHAR},
      </if>
      <if test="record.temp2 != null" >
        temp2 = #{record.temp2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update public.v_post
    set pid = #{record.pid,jdbcType=INTEGER},
      text = #{record.text,jdbcType=VARCHAR},
      parent_tag = #{record.parentTag,jdbcType=VARCHAR},
      sp_id = #{record.spId,jdbcType=INTEGER},
      temp1 = #{record.temp1,jdbcType=VARCHAR},
      temp2 = #{record.temp2,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ccolor.mybatis.bean.V_post" >
    update public.v_post
    <set >
      <if test="text != null" >
        text = #{text,jdbcType=VARCHAR},
      </if>
      <if test="parentTag != null" >
        parent_tag = #{parentTag,jdbcType=VARCHAR},
      </if>
      <if test="spId != null" >
        sp_id = #{spId,jdbcType=INTEGER},
      </if>
      <if test="temp1 != null" >
        temp1 = #{temp1,jdbcType=VARCHAR},
      </if>
      <if test="temp2 != null" >
        temp2 = #{temp2,jdbcType=VARCHAR},
      </if>
    </set>
    where pid = #{pid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ccolor.mybatis.bean.V_post" >
    update public.v_post
    set text = #{text,jdbcType=VARCHAR},
      parent_tag = #{parentTag,jdbcType=VARCHAR},
      sp_id = #{spId,jdbcType=INTEGER},
      temp1 = #{temp1,jdbcType=VARCHAR},
      temp2 = #{temp2,jdbcType=VARCHAR}
    where pid = #{pid,jdbcType=INTEGER}
  </update>
</mapper>